$bookTileHeight: 160px;

.book {

  &__tiles {
    width: 100%;
  }

  &__tile {
    width: 25%;
    height: $bookTileHeight;
    float: left;
    padding: 3em;
    margin: 2%;
    background: #fbfbfb;
    box-shadow: 0px 3px 6px 0px rgba(224,224,224,1);
  }

  &__title {
    font-style: italic;
    width: 100%;
    clear: both;
  }

  &__author {
    color: #819699;
    width: 100%;
    clear: both;
  }

}
