<div class="book__tiles">

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

  <div
    *ngFor="let book of books"
    class="book__tile"
  >
    <div class="book__title">
      {{ book.title }}
    </div>
    <div class="book__author">
      Andrzej Sapkowski
    </div>
  </div>

</div>
