$mainColor: #656565;
$mainColorBright: #fff;
$mainColorPrimary: #87233b;
$mainColorSecondary: #1f3a43;
$mainBorderColorSecondary: #477b83;

$mainBackground: #fff;

$sidebarBackground: #f8f5f7;
$sidebarDividerColor: #e9e9e9;
$sidebarColor: #2d464e;
$sidebarItemHeight: 78px;
$sidebarItemWidth: 78px;

$headerHeight: 133px;

$boxBackground: #F5F5F5;
$boxBorderColor: #e3e8e7;


$animationSpeed: 0.5s;
