$mainColor: #656565;
$mainColorBright: #fff;
$mainColorPrimary: #802139;

$mainBackground: #fff;

$sidebarBackground: #1F3741;
$sidebarDividerColor: #005A51;
$sidebarColor: #FFF;
$sidebarItemHeight: 78px;

$headerBackground: #802139;
$boxBackground: #F5F5F5;
$boxBorderColor: #e3e8e7;
