@import '~styles/variables.scss';

$inputColor: #B7C0C4;

.header {
  display: flex;
  height: $sidebarFirstItemHeight;
  box-shadow: 0 3px 5px 0 rgba(222,222,222,0.75);

  &__app {
    flex: 0.4;
    display: block;
    margin: 0;
    height: $sidebarFirstItemHeight;
    line-height: $sidebarFirstItemHeight;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    background: $sidebarBackground;
    border-right: 1px solid $sidebarDividerColor;

    img {
      vertical-align: middle;
    }
  }

  &__search {
    flex: 0.8;
    height: $sidebarFirstItemHeight;
    line-height: $sidebarFirstItemHeight;
    margin-left: 25px;
    color: $inputColor;

    .input-field {
      margin-top: -5px;
    }

    input {
      border-color: $inputColor;
    }

    .prefix {
      top: 40%;
    }
  }

  &__nav {
    flex: 0.5;
    height: $sidebarFirstItemHeight;
    line-height: $sidebarFirstItemHeight;
    text-align: center;

    .btn {
      width: 60%;
      height: auto;
      padding: 5px;
      border-radius: 20px;
      text-transform: none;
      font-size: 14px;

      i {
        color: $mainColorBright;
        vertical-align: sub;
      }
    }

    a {
      vertical-align: sub;
    }

    i {
      vertical-align: middle;
      color: $mainColorPrimary;
    }
  }
}
