<header class="header">
  <h1 class="header__app">
    <img src="/assets/images/logo.png" alt="readonly.pl">
  </h1>
  <div class="header__search">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input
        name="bookSearch"
        placeholder="Wyszukaj książkę..."
        type="text"
        class="validate"
      >
    </div>
  </div>
  <div class="header__nav">
    <button class="waves-effect waves-light btn">
      <i class="material-icons">note_add</i> Dodaj książkę
    </button>
    <a href="">
      <i class="material-icons">notifications_none</i>
    </a>
    <a href="">
      <i class="material-icons">person_outline</i>
    </a>
  </div>
</header>
