@import '~styles/variables.scss';

$inputColor: #B7C0C4;

.header {
  position: relative;
  z-index: 2;
  display: flex;
  height: $headerHeight;
  background: $mainBackground;
  box-shadow: 0 3px 5px 0 rgba(222,222,222,0.75);

  &__menu-toggle {
    width: $sidebarItemHeight;
    height: $headerHeight;
    background: $sidebarBackground;
    text-align: center;
    line-height: $headerHeight;
  }

  &__app {
    flex: 0.4;
    display: block;
    margin: 0;
    height: $headerHeight;
    line-height: $headerHeight;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    background: $sidebarBackground;
    border-right: 1px solid $sidebarDividerColor;

    img {
      vertical-align: middle;
    }
  }

  &__search {
    flex: 0.8;
    height: $headerHeight;
    line-height: $headerHeight;
    margin-left: 25px;
    color: $inputColor;

    .input-field {
      margin-top: -5px;
    }

    input {
      border-color: $inputColor;
    }

    .prefix {
      top: 40%;
    }
  }

  &__nav {
    flex: 0.5;
    height: $headerHeight;
    line-height: $headerHeight;
    text-align: center;

    .btn {
      width: 60%;
      height: auto;
      padding: 5px;
      border-radius: 20px;
      text-transform: none;
      font-size: 14px;

      i {
        color: $mainColorBright;
        vertical-align: sub;
      }
    }

    a {
      vertical-align: sub;
    }

    i {
      vertical-align: middle;
      color: $mainColorPrimary;
    }
  }
}

.book-form-container {
  position: relative;
  z-index: 1;
  background: $sidebarBackground;
  width: 100%;
  height: 0;
  overflow: hidden;

  &.opened {
    height: auto;
  }
}
