@import '~styles/variables.scss';

.app {
    display: block;
}

.content-wrapper {
  display: flex;
  min-height: calc(100% - #{$headerHeight});

  app-sidebar {
    width: $sidebarItemHeight;
    min-height: 100%;
  }

  .content {
    width: calc(100% - #{$sidebarItemWidth});
  }
}
