<div class="sidebar">
    <a
      href=""
      class="item"
    >
      <i class="material-icons">menu</i>
    </a>
    <a
      routerLink="/libraries"
      href=""
      class="item"
    >
      <i class="material-icons">import_contacts</i>
    </a>
    <a
      routerLink="/collections"
      href=""
      class="item"
    >
      <i class="material-icons">collections_bookmark</i>
    </a>
    <a
      routerLink="/book/add"
      href=""
      class="item"
    >
      <i class="material-icons">book</i>
    </a>
    <a
      routerLink="/lending"
      href=""
      class="item"
    >
      <i class="material-icons">share</i>
    </a>
    <a
      routerLink="/notes"
      href=""
      class="item"
    >
      <i class="material-icons">insert_drive_file</i>
    </a>
</div>
