@import '~materialize-css/dist/css/materialize.css';
@import 'styles/variables.scss';
@import 'styles/icons.scss';
@import 'styles/common.scss';

html, body, .app {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Roboto;
}

h1 {
  color: #2d464e;
}

a {
  text-decoration: none;
  color: #000;
}
